*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0 auto;

  }

  body{
    width:100%;margin: 0 auto;min-width:600px;max-width:2000px
  
  }

.contenedor{
  width:1200px;
  margin: 0 auto;
}




/*Banner*/

.main .banner{
  background-color: #163975;
  padding: 9px 0 9px 0;
  border-bottom: 1px solid #b6b7c2;}

.main .banner .contenedor .banner-principal{
  width: 100%;
}

.main .banner .contenedor .banner-principal img{
  width: 100%;}
  


 /*Menu Principal*/

 .titulo-oferta{
  margin: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid #fff;

 }

 .titulo-oferta .contenedor h1{
   font-family: sans-serif;
   font-size: 25px;
   color: #646276;
   text-decoration: none;
 }

 .blog{
  background: #2a6adb;
  padding: 40px 0;
}

.blog .contenedor{ 
  overflow: hidden;
}

  /*ARTICULOS-BLOG*/

.blog .contenedor .articulos-blog{
  float: left;
  width: 68%;
  }

.blog .contenedor .articulos-blog .articulo{
  background: #fff;
  padding: 60px 0;
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
  }

.blog .contenedor .articulos-blog .articulo .fecha-articulo{
  color: #c7c7c7;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  }

.blog .contenedor .articulos-blog .articulo .titulo-articulo{
  color: #363940;
  font-size: 20px;
  text-align: center;
  margin-bottom:10px;
  }

.blog .contenedor .articulos-blog .articulo .categoria-articulo{
  color: #9c9c9c;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  }

.blog .contenedor .articulos-blog .articulo .centrado{
  margin:10px auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.blog .contenedor .articulos-blog .articulo .centrado img{
  width: 50%;
  margin-bottom: 60px;
  padding-left: 0px;
  
    }

.blog .contenedor .articulos-blog .articulo .texto-articulo{
  padding: 20px 20px;
  text-align: justify; 
  }

.blog .contenedor .articulos-blog .articulo .texto-articulo p{
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  color: #363940;
  }


  /*Estilos texto articulo*/

  .blog .contenedor .articulos-blog .articulo .texto-articulo .titulo-anillo{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    text-transform: initial;
  }

  .blog .contenedor .articulos-blog .articulo .texto-articulo .subtitulo-anillo{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-transform: initial;
  } 

  .blog .contenedor .articulos-blog .articulo .texto-articulo .descripcion-anillo{
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    text-transform: initial;

  }

.blog .contenedor .articulos-blog .articulo .boton{
  text-align: center;
  text-transform: uppercase;
  }

.blog .contenedor .articulos-blog .articulo .boton a{
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  background: none;
  border: 1px solid #bababa;
  font-size: 14px;
  color: #7d7d7d;

  }
  
.blog .contenedor .articulos-blog .articulo .boton a:hover{
  background: #7d7d7d;
  color: #fff;
  }

  /*ASIDE*/

.aside{
   float: right;
   width: 28%;
  }

.aside .widget{
  background: #fff;
  padding: 40px;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
          }

.aside .widget .autor-widget .foto-autor{
  text-align: center;
  margin-bottom: 10px;
}

.aside .widget .autor-widget .foto-autor img{
  width: 120px;
  border-radius: 50%;
}

.aside .widget .autor-widget .datos-autor{
  text-align: center;

}

.aside .widget .autor-widget .datos-autor .nombre{
  color: #363940;
  font-size: 20px;
  margin-bottom: 10px;
}

.aside .widget .autor-widget .datos-autor .profesion{
  color: #9c9c9c;
  font-size: 16px;
  margin-bottom: 20px;
}

.aside .widget .autor-widget .datos-autor .info{
  color: #363540;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: initial;
}

/*FOOTER*/

.footer{
  background: #0a1a36;
  padding: 40px;
  text-align: center;
  color: #9c9c9c; 
}